# Virtual environment
venv/

# Python bytecode
__pycache__/

# Log files
*.log

# Editor/IDE-specific files
.vscode/
.idea/

# Dependency directories
__pycache__/
dist/
build/
*.egg-info/

# Ignore .env files
.env

# Ignore database files (SQLite, PostgreSQL, etc.)
*.db

# Ignore local configuration files
local_settings.py


# SQLitedatabase
*/**/*.sqlite
